<a id="move_{name}"><table class="visible-table bordered">
    <tr class="center bordered">
        <td class="center bordered narrow">{order}</td>
        <td class="center bordered wide"><b>{name}</b></td>
        <td class="center bordered">{poise_requirement}</td>
        <td class="center bordered">{poise_cost_gain}</td>
    </tr>
    <tr class="center bordered">
        <td class="left bordered" colspan="4"><i>{description}</i></td>
    </tr>
    <tr class="center bordered">
        <td class="left bordered" colspan="4">{additional_requirements}</td>
    </tr>
    <tr class="center bordered">
        <td class="left bordered" colspan="4">{effects}</td>
    </tr>
</table></a>
<br>