<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="canonical" href="https://html5-templates.com/" />
	<title>Painted Lands Rulebook</title>
	<meta name="description" content="Painted Lands Rulebook">
	<link rel="stylesheet" href="pl_style.css">
</head>
<body>

<div class="img-container-l1">
	<div class="img-container-l2">
		<img src="https://i.imgur.com/bLfbfpq.png" alt="logo">
	</div>
</div>

<div class="grid-container">
	<div id="sidebar" class="sidenav">
		{nav}
	</div>
</div>

<div id="main">
	<section id="pageContent">
		{content}
	</section>
</div>
</body>
</html>