/* PaintedLands roll template styling */

.sheet-rolltemplate-PaintedLands table {
    width: 100%;
    border: 3px solid black;
    color: black;
    background: #FFFFFF;
}
.sheet-rolltemplate-PaintedLands tr.sheet-template-header {
    text-align: center;
    background: #007000;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 2px;
    border-bottom: 2px solid black;
    line-height: 1.75em;
}
.sheet-rolltemplate-PaintedLands tr.sheet-template-accent {
    background: #70370B;
    color: white;
    line-height: 1.5em;
}
.sheet-rolltemplate-PaintedLands td {
    padding: 2px 5px 2px 5px;
    border-bottom: 1px solid black;
}
.sheet-rolltemplate-PaintedLands td.sheet-template-label {
    font-weight: bold;
    background: inherit;
}
.sheet-rolltemplate-PaintedLands td.sheet-template-value {
    text-align: center;
    background: inherit;
    color: #000000;
}
.sheet-rolltemplate-PaintedLands .inlinerollresult  {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid black;
    color: #000000;
    background: #BEBEBE;
}

.sheet-rolltemplate-PaintedLands a[href^="!"] {
    background-color: #111111;
    color: #c1c1c1;
    padding: 2px 5px 2px 5px;
    margin: 0px 5px 0px 5px;
    display: inline-block;
    border: 1px solid #c1c1c1;
}

.sheet-rolltemplate-PaintedLands a[href^="!"]:hover {
    cursor: pointer;
    color: #5B82EF;
    border: 1px solid #5B82EF;
}
